* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.6);

}

.textwhite{
  color: white;
  opacity: 1 ;
}

.fwb{
  font-weight: bold;
}

.text-center{
  text-align: center;
}

.flexbox{
  display: flex;
  padding: 24px;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

a:hover{
  color: white;
  opacity: 1;
}

.disb{
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(94,94,94);
}

/*** Fixed bars ***/

.fixed{
  position: fixed;
}

.musicbar {
  width: 100vw;
  background-color: #282828;
  bottom: 0;
  height: 100px;
}

.navmain {
  width: 230px;
  overflow-y: auto;
  height: calc(100% - 100px);
  background-color: #050505;
  top:0;
}

.side-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.logo{
  padding: 24px;
}

.logo img{
  width: 100%;
}

.side-menu i{
  font-size: 24px;
}

.side-menu ul li,.side-menu p, .side-menu .playlist{
  padding: 12px 24px;
}

.side-menu, .side-menu ul li a, .side-menu p{
  font-size: 14px;
}

.side-menu ul li:first-child{
  border-left: 2px solid green;;
}


.download{
  padding: 8px 24px;
}

.download hr{
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 8px 0;
}

.download img {
  border-radius: 50%;
}

.download a span{
  vertical-align: super;
}

/*** END Fixed bars ***/

/*** Scroll through ***/

main {
  background-color: #181818;
  position: absolute;
  top:0;
  right: 0;
  width: calc(100% - 230px);
  height: calc(100% - 100px);
  overflow-y: auto;
}

.scrollmenu {
  align-self: center;
  margin: auto;
  text-align: center;
}

.scrollmenu li {
  display: inline;
}

.scrollmenu li a{
  text-transform: uppercase;
  font-size: 14px;
  padding: 0px 18px;
}

.hambmenu{
  display: none;
}

.titles{
  padding: 24px;
}

.music{
  padding-top: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.music img{
  max-width: 100%;
}

.musicbox {
  margin-bottom: 30px;
  max-width: 220px;
}

.musicbox p a{
  margin: 6px auto;
  display: block;
}
@media screen and (max-width: 768px) {
  .scrollmenu{
    display: none;
  }

  .hambmenu {
    display: block;
    font-size: 40px;
  }

  .musicbox {
    margin-bottom: 30px;
    max-width: 130px;
  }

}

@media screen and (max-width: 425px) {
  body{
    font-size: 12px;
  }
  .navmain {
    width: 100px;
  }

  main {
    width: calc(100% - 100px);
  }

  span{
    display: none;
  }

  .side-menu{
  text-align: center;
  }

  .side-menu ul li, .side-menu p, .side-menu .playlist {
    padding: 12px;
  }

  .side-menu i{
    font-size: 30px;
  }

  .profilepic{
    width: 30px;
  }

  .musicbox {
    max-width: 109px;
  }
}

@media screen and (max-width:375px) {
  .musicbox {
    max-width: 100%;
  }

}
